* {
    font-family:'Staatliches', cursive;
}

.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#gameEnd {
    background-color: white;
    display:none;
    position: absolute;
    z-index:999;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

#endTitle{
    margin-top: 5vh;;
    display: flex;
    width: 65vw;
    height: 7vh;
    font-size: 7vh;
    align-items: center;
    justify-content: center;

}
#endLabels{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    font-size:10vh;
}

#endLabels #playerLabel {
    padding-left: 4vw;
}

#endScore{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    height: 20vh;
    font-size:20vh;
}

#playAgain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    width: 10vw;
    height: 10vh;
    font-size: 5vh;
    
}

#playAgainButtons{
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    width: 30vw;
    height: 10vw; 
}

#gameEndMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    position: absolute;
    font-size: 5vh;
    margin-top: 40vh;
    
}

#question {
    margin-top: 5vh;
    width: 50vw;
    height: 10vh;
    font-size: 10vh;
}


#action {
    display: none;
    position: absolute;
    z-index: 999;
    margin: 12.5vh 12.5vw;
    width: 75vw;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    color: #FFF44F;
    text-shadow: -1px 1px 0 #000;

}

#action img {
    width: 20vw;
}

#actionLabels {
    width: 80vw;
    height: 30%;
    font-size: 10vh;
    display: flex;
    justify-content: space-between;
    font-size:10vh;
    
    

}

#playerChoiceLabel {
    padding-left: 3vw;
}

#playerChoiceImages {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: 30vh;
}

#game {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.labels {
    margin-top: 5vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    font-size:5vh;
    
    
}

#playerLabel{
    padding-left: 2vw;
}
.scoreContainer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    height: 20vh;
    font-size:20vh;
   
}

#result {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    font-size: 5vh;
    position:absolute;
    margin-top: 20vh;

    
}


.choices {
    display: flex;
    width: 75vw;
    height: 30vh;
    justify-content: space-between;    

}

button, #rock, #paper, #scissors {
    height: auto;
    width: 25%;
    
}

.choicesPictures {
    max-height: 100%;
    max-width: 100%;
}